body{
	background-color: #f2f1f0;
}
.contBg{
	background-color: #fff;
}

.cardProfil {
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.cardProfil:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.card {
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.album{
	height: 400px;
}
 
