 @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Roboto+Slab:wght@200&display=swap=Permanent+Marker&display=swap');

body, html{
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-family: 'Roboto Slab', sans-serif, Arial;
	width: 100%;
}
header{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	box-shadow: 0 5px 3px rgba(122,122,122,0.5);
	background-color: black;
}

a{
	text-decoration: none;
	color: #adadad;
	transition: all .6s;
	font-size: 1.3em;
}

a:hover {
	color: #fdff67;
	font-size: 1.5em;
	font-weight: bold;
}

.leftBlog{
	background-color: black;
	width: 50%;
}

.flexible_blog{
	margin-left: 5%;
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 70px;
	align-items: center;
	cursor: pointer;
}
.flexible_blog h1{
	transition: all .6s;
}
.flexible_blog h1:hover{
	font-size: 2.5em;
	color: #fdff67;
}

.dark_menu{	
	border-bottom: 1px solid silver;
	display: flex;
	width: 70%;
	justify-content: space-around;
	align-items: flex-end;
	padding-bottom: 6px;
}

.aboutMe{
	width:90%; 
	margin-top: 2%;
	margin-left: 5%;
}
.aboutMe h1{
	font-family: 'Permanent Marker', cursive;
	font-size: 80px;
}
.aboutMe p{
	width:95%;
}



.button_draw{
	height: 65px;
	width: 250px;
	background-image: url(/storage/images/Buttons.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	position: relative;
	transition: all .6s ease;
}

.button_draw:hover{
	background-image: url(/storage/images/Buttons2.png);
	transform: translate(15px,-10px);
}

.button_draw a{
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	padding-left: 5%; 
	font-size: 1.2em;
}


.mysites{
	background-image: url(/storage/images/Shape.png);
	min-height: 150px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 100px;
	background-color: black;
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.mysites div{
	width: 70%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	font-weight: bold;
	font-size: 30px;
}
.mysites a{
	color: black;
}

.rightblog{
	display: flex;
	justify-content: flex-end;
	width: 50%;
	align-items: center;
	background-color: black;
	margin-left: 0px;
}

.myimg{
	background-color: black;
	background-image: url(/storage/images/Sagiden2.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 80%;
}
main{
	margin-bottom: 50px;
	width: 100%;
}
.projectsBlock{
	box-shadow: 0 5px 3px rgba(122,122,122,0.5);
	margin-top: 10%;
	width: 100%;
	height: auto;
	background-color: #000000;
}

.flexcloudup{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
}
.cloudup{
	background-image: url(/storage/images/cloudup.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 30%;
	height: auto;
}

.wordProjects{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
}

.two_main_blogs{
	width: 100%;
	margin-top: 5%;
	/*border: 1px solid silver;*/
}

.two_main_blogs{
	display: flex;
	width: 100%;
	justify-content: flex-star;
}
.cloudleft{
	background-image: url(/storage/images/cloudleft.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 10%;
	min-height: 400px;
	/*border: 1px solid red;*/
}

.grid_main{
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: mixmax(100px, auto);
	grid-gap: 1em;
	justify-items:strech;
	align-items: strech;
}

@media(max-width:980px) {
    /* телефоны в перевернутом состоянии и некоторые планшеты */
 .grid_main{
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: mixmax(100px, auto);
	font-size: 1.0em;
}
}

.project_img{
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	min-height: 300px;
}

.project_img:after{
	content: "";
	position: absolute;
	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	z-index: 1;
  	background-image: url(/storage/images/nad_project_img.png);
  	background-size: 100% 100%;
}
.container_btn_detail{
	margin-top: 15px;
	display: flex;
	justify-content: center;
}
.btn_detail{
	background-image: url(/storage/images/Buttons.png);
	background-size: 100% 100%;
	width: 40%;
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	padding-left: 5%; 
	font-size: 1.2em;
}

.btn_detail:hover{
	background-image: url(/storage/images/Buttons2.png);
	transform: translate(15px,-10px);
	color: black;
}
.container_btn_all_projects{
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.btn_all_projects{
	background-image: url(/storage/images/Buttons.png);
	background-size: 100% 100%;
	width: 20%;
	height: auto;
	text-align: center;
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	padding-left: 5%; 
	font-size: 2.0em;
}
.btn_all_projects:hover{
	background-image: url(/storage/images/Buttons2.png);
	transform: translate(15px, -10px);
	color: black;
	font-size: 2.0em;
}
.cloudbottom{
	background-image: url(/storage/images/cloudbottom.png);
	background-size: 100% 100%;
	width: 100%;
	height: 100px;
}

.flexcloudup_skills{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: flex-end;
}
.cloudup_skills{
	background-image: url(/storage/images/cloudup.png);
	background-size: 100% 100%;
	width: 60%;
	height: auto;
}

.cloudleft_skills{
	background-image: url(/storage/images/cloudleft.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 10%;
	min-height: 300px;
}


.grid_skill{
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: mixmax(50px, auto);
	grid-gap: 1em;
	justify-items:strech;
	align-items: strech;
}
.skill{
	
	background-size: 100% 100%;
	min-height: 300px;
	position: relative;
}
.skill:after{
	content: "";
	position: absolute;
	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	z-index: 1;
  	background-image: url(/storage/images/nad_project_img.png);
  	background-size: 100% 100%;
}

.container_cloud_bottom_skills {
	display: flex;
	width: 100%;
	justify-content: flex-start;
}

.cloudbottom_skills{
	background-image: url(/storage/images/cloudbottom2.png);
	background-size: 100% 100%;
	width: 60%;
	height: 100px;
}


footer {
	box-shadow: 0 10px rgba(122,122,122,0.5);
	margin-top: 10%;
	width: 100%;
	height: auto;
	background-color: #000000;
	background-repeat: no-repeat;
}

.footer_cloudleft_skills{
	background-image: url(/storage/images/cloudleft.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 10%;
	min-height: 50px;
}

/*Projects PAge*/

.projects_header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	align-items: center;
	cursor: pointer;
}
.projects_header h1{
	transition: all .6s;
}
.projects_header h1:hover{
	font-size: 2.5em;
	color: #fdff67;
}

/*Detail Project Page*/
.detail_project_phone_frame{
	width: 80%;
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: mixmax(50px, auto);
	grid-gap: 1em;
	justify-items:stretch;
	align-items: stretch;                                     
}

.detail_project_phone_frame div{
	height: 100%;
	width: 100%;
}

.detail_project_phone_frame div img{
	height: 100%;
	width: 80%;
}


.project_detail_mac{
	width: 80%;
	height: 100%;
}
.project_detail_mac div img{
	width: 100%;
	height: 100%;
}